*,
html {
  margin: 0;
  padding: 0%;
}

.container-navbar {
  background-color: #7f7070;
  width: 100%;
  height: 10vh;
}

.ul-navbar {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.li-navbar {
  list-style-type: none;
  padding: 20px;
  margin: 5px;
  color: white;
  font-size: 30px;
  border-radius: 8px;
}

.li-navbar:hover {
  background-color: rgb(36, 32, 32);
  transition: 0.5 ease-in-out;
  transition-delay: 0.3s;
}
.a-navbar {
  color: rgb(247, 241, 241);
  text-decoration: none;
}

.container-content {
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.a-content {
  background-color: rgb(251, 251, 251);
  color: black;
  text-decoration: none;
  font-size: 30px;
  width: 520px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 80px;
  box-shadow: 20px 34px 24px 0px rgba(53, 51, 51, 0.75);
  -webkit-bayangan-kotak: 20px 34px 24px 0px rgba(61, 55, 55, 0.75);
  -moz-bayangan-kotak: 20px 34px 24px 0px rgba(49, 41, 41, 0.75);
}
.img-content {
  width: 35%;
  height: 75%;
}

.container-footer {
  height: 10vh;
  background-color: rgb(84, 74, 74);
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1-footer {
  color: rgb(0, 0, 0);
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
